* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
  }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}
nav {
    display: flex;
    float: right;
}
